<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff"
             size="default" type="ball-clip-rotate-multiple">
</ngx-spinner>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="branchForm">
            <h6 class="heading-small text-muted mb-4">Branch details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group ">
                    <label class="form-control-label" for="input-username">Name</label>
                    <div class="validation-errors">
                    </div>
                    <input type="text" required formControlName="name" id="input-username"
                           class="form-control form-control-alternative" placeholder="Type Branch Name">
                    <div *ngFor="let validation of validation_messages.name">
                      <div class="error-message" *ngIf="branchForm.get('name').hasError(validation.type) &&
                        (branchForm.get('name').dirty || branchForm.get('name').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="form-group ">
                    <label class="form-control-label" for="input-email">Main Location</label>
                    <select formControlName="main_location_id" required id="input-email"
                            (change)="fetchSublocation($event.target.value)"
                            class="form-control form-control-alternative">
                      <option *ngFor="let item of mainLocationData" [value]="item.id">{{item.name}}</option>
                    </select>
                    <div *ngFor="let validation of validation_messages.main_location_id">
                      <div class="error-message" *ngIf="branchForm.get('main_location_id').hasError(validation.type) &&
                        (branchForm.get('main_location_id').dirty || branchForm.get('main_location_id').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group ">
                    <label class="form-control-label" for="input-email">Sub Location</label>
                    <select formControlName="sub_location_id" required
                            class="form-control form-control-alternative">
                      <option *ngFor="let item of subLocationData" [value]="item.id">{{item.name}}</option>
                    </select>
                    <div *ngFor="let validation of validation_messages.sub_location_id">
                      <div class="error-message" *ngIf="branchForm.get('sub_location_id').hasError(validation.type) &&
                        (branchForm.get('sub_location_id').dirty || branchForm.get('sub_location_id').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Address</label>
                    <input type="text" formControlName="address" id="input-first-name"
                           class="form-control form-control-alternative" placeholder="Type Address">
                    <div *ngFor="let validation of validation_messages.address">
                      <div class="error-message" *ngIf="branchForm.get('address').hasError(validation.type) &&
                        (branchForm.get('address').dirty || branchForm.get('address').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Phone No</label>
                    <input id="input-address" formControlName="mobile"
                           class="form-control form-control-alternative" placeholder="Type Phone No" type="tel">
                    <div *ngFor="let validation of validation_messages.mobile">
                      <div class="error-message" *ngIf="branchForm.get('mobile').hasError(validation.type) &&
                        (branchForm.get('mobile').dirty || branchForm.get('mobile').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Email</label>
                    <input formControlName="email"
                           class="form-control form-control-alternative" placeholder="Type Email Address" type="email">
                    <div *ngFor="let validation of validation_messages.email">
                      <div class="error-message" *ngIf="branchForm.get('email').hasError(validation.type) &&
                        (branchForm.get('email').dirty || branchForm.get('email').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">TRN</label>
                    <input type="email" formControlName="trn"
                           class="form-control form-control-alternative" placeholder="Type Tax No ">
                    <div *ngFor="let validation of validation_messages.trn">
                      <div class="error-message" *ngIf="branchForm.get('trn').hasError(validation.type) &&
                        (branchForm.get('trn').dirty || branchForm.get('trn').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Minimum Order</label>
                    <input type="email" formControlName="minimum_order"
                           class="form-control form-control-alternative" placeholder="Type Minimum Order">
                    <div *ngFor="let validation of validation_messages.minimum_order">
                      <div class="error-message" *ngIf="branchForm.get('minimum_order').hasError(validation.type) &&
                        (branchForm.get('minimum_order').dirty || branchForm.get('minimum_order').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Estimated Time</label>
                    <input type="email" formControlName="estimated_time"
                           class="form-control form-control-alternative" placeholder="Type Phone No">
                    <div *ngFor="let validation of validation_messages.estimated_time">
                      <div class="error-message" *ngIf="branchForm.get('estimated_time').hasError(validation.type) &&
                        (branchForm.get('estimated_time').dirty || branchForm.get('estimated_time').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Tax type</label>
                    <div class="row">
                      <div class="custom-control custom-radio mb-3">
                        <div class="col-lg-6">
                          <input name="tax_type" value="gst"  formControlName="tax_type" [checked]="true" class="custom-control-input" id="RadioGST" type="radio">
                          <label class="custom-control-label"    for="RadioGST">GST</label>
                        </div>
                        <div class="col-lg-6">
                          <input name="tax_type" value="vat" formControlName="tax_type" class="custom-control-input" id="RadioVat" type="radio">
                          <label class="custom-control-label"   for="RadioVat">VAT</label>
                        </div>
                      </div>
                    </div>
                    <div *ngFor="let validation of validation_messages.tax_type">
                      <div class="error-message" *ngIf="branchForm.get('tax_type').hasError(validation.type) &&
                        (branchForm.get('tax_type').dirty || branchForm.get('tax_type').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Delivery Charge</label>
                    <input type="email" formControlName="delivery_charge"
                           class="form-control form-control-alternative" placeholder="Delivery Charge ">
                    <div *ngFor="let validation of validation_messages.trn">
                      <div class="error-message" *ngIf="branchForm.get('trn').hasError(validation.type) &&
                        (branchForm.get('trn').dirty || branchForm.get('trn').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <button class="btn btn-primary" [disabled]="branchForm.invalid"
                            (click)="onSubmit()" type="submit">{{btn_title}}</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
