<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} <a href="http://cyberseed.live/" class="font-weight-bold ml-1" target="_blank">Cyberseed</a>
        </div>
      </div>
      <div class="col-xl-6">
<!--        <ul class="nav nav-footer justify-content-center justify-content-xl-end">-->
<!--          Powered by-->
<!--          <li class="nav-item">-->
<!--            <a href="http://wingsbig.com/" class="nav-link font-weight-bold ml-1" target="_blank">Wingsbig</a>-->
<!--          </li>-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout" class="nav-link" target="_blank">About Us</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a href="http://blog.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Blog</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--          &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
<!--          &lt;!&ndash;            <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>&ndash;&gt;-->
<!--          &lt;!&ndash;          </li>&ndash;&gt;-->
<!--        </ul>-->
      </div>
    </div>
  </div>
</footer>
