<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{title}}</h3>
            </div>
            <div class="col-4 text-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="managerForm">
            <h6 class="heading-small text-muted mb-4">Manager details</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group ">
                    <label class="form-control-label" for="input-username">Name</label>
                    <div class="validation-errors">
                    </div>
                    <input type="text" required formControlName="name" id="input-username"
                           class="form-control form-control-alternative" placeholder="Type Manager Name">
                    <div *ngFor="let validation of validation_messages.name">
                      <div class="error-message" *ngIf="managerForm.get('name').hasError(validation.type) &&
                        (managerForm.get('name').dirty || managerForm.get('name').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Branch</label>
                    <select formControlName="branch_id" class="form-control form-control-alternative">
                      <option *ngFor="let item of branchData" [value]="item.id">
                        {{item.name}}
                      </option>
                    </select>
                    <div *ngFor="let validation of validation_messages.branch_id">
                      <div class="error-message" *ngIf="managerForm.get('branch_id').hasError(validation.type) &&
                        (managerForm.get('branch_id').dirty || managerForm.get('branch_id').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Phone No</label>
                    <input type="tel" formControlName="mobile" id="input-first-name"
                           class="form-control form-control-alternative" placeholder="Type Phone No">
                    <div *ngFor="let validation of validation_messages.mobile">
                      <div class="error-message" *ngIf="managerForm.get('mobile').hasError(validation.type) &&
                        (managerForm.get('mobile').dirty || managerForm.get('mobile').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Email</label>
                    <input id="input-address" formControlName="email"
                           class="form-control form-control-alternative" placeholder="Type Email" type="email">
                    <div *ngFor="let validation of validation_messages.email">
                      <div class="error-message" *ngIf="managerForm.get('email').hasError(validation.type) &&
                        (managerForm.get('email').dirty || managerForm.get('email').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Address</label>
                    <input type="text" formControlName="address1"
                           class="form-control form-control-alternative" placeholder="Type Address">
                    <div *ngFor="let validation of validation_messages.address1">
                      <div class="error-message" *ngIf="managerForm.get('address1').hasError(validation.type) &&
                        (managerForm.get('address1').dirty || managerForm.get('address1').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Username</label>
                    <input type="email" formControlName="username"
                           class="form-control form-control-alternative" placeholder="Type Username">
                    <div *ngFor="let validation of validation_messages.username">
                      <div class="error-message" *ngIf="managerForm.get('username').hasError(validation.type) &&
                        (managerForm.get('username').dirty || managerForm.get('username').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Password</label>
                    <input type="password" formControlName="password"
                           class="form-control form-control-alternative" placeholder="Type Password">
                    <div *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="managerForm.get('password').hasError(validation.type) &&
                        (managerForm.get('password').dirty || managerForm.get('password').touched)">
                        <span class="badge badge-pill badge-danger">{{ validation.message }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <button class="btn btn-primary" [disabled]="managerForm.invalid"
                            (click)="onSubmit()" type="submit">{{btn_title}}</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
