<app-loader></app-loader>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-white shadow">
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Customers</h3>
                  </div>
                  <!--                  <div class="col-4">-->
                  <!--                    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="filter" (change)="onchange()">-->
                  <!--                  </div>-->
                  <!--                  <div class="col-4">-->
                  <!--                    <div class="btn-group" dropdown>-->
                  <!--                      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"-->
                  <!--                              aria-controls="dropdown-animated">-->
                  <!--                        {{deliveryBoyName}} <span class="caret"></span>-->
                  <!--                      </button>-->
                  <!--                      <ul style="cursor: pointer" id="dropdown-animated" *dropdownMenu class="dropdown-menu"-->
                  <!--                          role="menu" aria-labelledby="button-animated">-->
                  <!--                        <li (click)="getPendingOrders();deliveryBoyName='Delivery Boys'">-->
                  <!--                          <a class="dropdown-item">All</a>-->
                  <!--                        </li>-->
                  <!--                        <li *ngFor=" let item of deliveryBoysData" role="menuitem"-->
                  <!--                            (click)="onChangeDeliveryBoy(item.payload.doc.data().uid);deliveryBoyName=item.payload.doc.data().name">-->
                  <!--                          <a class="dropdown-item">{{item.payload.doc.data().name}}</a>-->
                  <!--                        </li>-->
                  <!--                      </ul>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                  <!--                  <div class="col-4 text-right">-->
                  <!--                    <a [routerLink]="['/addPromocode']" class="btn btn-sm btn-default"-->
                  <!--                       routerLinkActive="router-link-active">-->
                  <!--                      <span class="btn-inner&#45;&#45;icon">-->
                  <!--                        <i class="ni ni-fat-add"></i></span> Add Promo code</a>-->
                  <!--                  </div>-->
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Blocked</th>
                    <th scope="col">Approvel</th>
                    <th scope="col">Address</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let item of customerData  |filter:filter |paginate: { itemsPerPage: 10, currentPage: p },let i=index">
                    <td>
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{i + 1}}</span>
                      </div>
                    </td>
                    <td>{{item.first_name}}</td>
                    <td>
                      {{item.email}}
                    </td>
                    <td>
                      {{item.details.mobile}}
                    </td>
                    <td>
                      <span class="badge badge-dot">
                        <i [class]="item.details.is_blocked==false?'bg-danger':'bg-success'"></i>
                        {{item.details.is_blocked == false ? 'No' : 'Blocked'}}
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot">
                        <i [class]="item.details.is_approved==false?'bg-danger':'bg-success'"></i>
                        {{item.details.is_approved == false ? 'Pending' : 'Approved'}}
                      </span>
                    </td>
                    <td>
                      <button (click)="openModal(Addresstemplate)" class="btn btn-outline-danger btn-sm" type="button">
                        <span class="btn-inner--icon">
                        <i class="ni ni fa fa-eye"></i>
                      </span>
                        &nbsp;View
                      </button>
                      <ng-template #Addresstemplate>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left text-black-50">Branches </h4>
                          <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                              <thead class="thead-light">
                              <tr>
                                <th scope="col">Sl No</th>
                                <th scope="col">Address</th>
                                <th scope="col">Landmark</th>
                                <th scope="col">City</th>
                                <th scope="col">Pin</th>
                                <th scope="col">Address Typr</th>

                              </tr>
                              </thead>
                              <tbody class="text-center">
                              <tr *ngFor="let Subitem of item.address;let indx=index">
                                <td>
                                  {{indx + 1}}
                                </td>
                                <td>
                                  {{Subitem.address1}}
                                </td>
                                <td>
                                  {{Subitem.land_mark}}
                                </td>
                                <td>
                                  {{Subitem.city}}
                                </td>
                                <td>
                                  {{Subitem.pin}}
                                </td>
                                <td>
                                  {{(Subitem.address_type === 'home' || Subitem.address_type === 'Home') ? 'Home' : 'Office'}}
                                </td>
                              </tr>
                              <tr *ngIf="item.address.length<=0">
                                <td colspan="5"> No Data Found</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button (click)="modalRef.hide()" class="btn btn-danger" type="button">Close</button>
                        </div>
                      </ng-template>
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class=" dropdown-menu-right dropdown-menu-arrow" ngbDropdownMenu
                             style="cursor: pointer;">
                          <a *ngIf="item.details.is_blocked==false" (click)="openBlockUserModel(blockTemplate)"
                             class="dropdown-item">Block</a>
                          <a *ngIf="item.details.is_blocked" (click)="openBlockUserModel(blockTemplate)"
                             class="dropdown-item">Unblock</a>
                          <ng-template #blockTemplate>
                            <div class="modal-body text-center">
                              <p>Are you sure you want to {{item.details.is_blocked?'Unblock':'Block'}} ?</p>
                              <button (click)="item.details.is_blocked?unBlockUser(item.id):blockUser(item.id);blockModalRef.hide()" class="btn btn-default" type="button">Yes
                              </button>
                              <button (click)="blockModalRef.hide()" class="btn btn-primary" type="button">No</button>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="card-footer py-4 ">
                  <div class="pagination justify-content-end mb-0">
                    <!-- <pagination-controls (pageChange)="p = $event">
                    </pagination-controls> -->
                    <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="customerData">
                      <ul class="pagination justify-content-end mb-0">
                        <li class="page-item ">
                          <a (click)="pT.previous()" *ngIf="!pT.isFirstPage()" [class.disabled]="pT.isFirstPage()"
                             aria-label="Previous" class="page-link">
                            <span aria-hidden="true" class="fas fa-angle-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li *ngFor="let page of pT.pages" [class.active]="pT.getCurrent() === page.value"
                            class="page-item active">
                          <a (click)="pT.setCurrent(page.value)" class="page-link"> {{ page.label }}
                          </a>
                        </li>
                        <li class="page-item ">
                          <a (click)="pT.next()" *ngIf="!pT.isLastPage()" [class.disabled]="pT.isLastPage()"
                             aria-label="Previous" class="page-link">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>

                      </ul>
                    </pagination-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
