<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Orders</h5>
                  <span class="h2 font-weight-bold mb-0">{{recentOrderData.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Todays Orders</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pending</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Delivered</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
                    (click)="data=datasets[0];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}"
                     data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"
                    (click)="data=datasets[1];updateOptions()">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}"
                     data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <!-- Chart wrapper -->
            <canvas id="chart-sales" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Demo Tables-->
  <!--  <div class="row mt-5">-->
  <!--    <div class="col-xl-8 mb-5 mb-xl-0">-->
  <!--      <div class="card shadow">-->
  <!--        <div class="card-header border-0">-->
  <!--          <div class="row align-items-center">-->
  <!--            <div class="col">-->
  <!--              <h3 class="mb-0">Page visits</h3>-->
  <!--            </div>-->
  <!--            <div class="col text-right">-->
  <!--              <a href="#!" class="btn btn-sm btn-primary">See all</a>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="table-responsive">-->
  <!--          &lt;!&ndash; Projects table &ndash;&gt;-->
  <!--          <table class="table align-items-center table-flush">-->
  <!--            <thead class="thead-light">-->
  <!--              <tr>-->
  <!--                <th scope="col">Page name</th>-->
  <!--                <th scope="col">Visitors</th>-->
  <!--                <th scope="col">Unique users</th>-->
  <!--                <th scope="col">Bounce rate</th>-->
  <!--              </tr>-->
  <!--            </thead>-->
  <!--            <tbody>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  /argon/-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  4,569-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  340-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  /argon/index.html-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  3,985-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  319-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  /argon/charts.html-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  3,513-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  294-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  /argon/tables.html-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  2,050-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  147-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  /argon/profile.html-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  1,795-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  190-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--            </tbody>-->
  <!--          </table>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-xl-4">-->
  <!--      <div class="card shadow">-->
  <!--        <div class="card-header border-0">-->
  <!--          <div class="row align-items-center">-->
  <!--            <div class="col">-->
  <!--              <h3 class="mb-0">Social traffic</h3>-->
  <!--            </div>-->
  <!--            <div class="col text-right">-->
  <!--              <a href="#!" class="btn btn-sm btn-primary">See all</a>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="table-responsive">-->
  <!--          &lt;!&ndash; Projects table &ndash;&gt;-->
  <!--          <table class="table align-items-center table-flush">-->
  <!--            <thead class="thead-light">-->
  <!--              <tr>-->
  <!--                <th scope="col">Referral</th>-->
  <!--                <th scope="col">Visitors</th>-->
  <!--                <th scope="col"></th>-->
  <!--              </tr>-->
  <!--            </thead>-->
  <!--            <tbody>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  Facebook-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  1,480-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <div class="d-flex align-items-center">-->
  <!--                    <span class="mr-2">60%</span>-->
  <!--                    <div>-->
  <!--                      <div class="progress">-->
  <!--                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  Facebook-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  5,480-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <div class="d-flex align-items-center">-->
  <!--                    <span class="mr-2">70%</span>-->
  <!--                    <div>-->
  <!--                      <div class="progress">-->
  <!--                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  Google-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  4,807-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <div class="d-flex align-items-center">-->
  <!--                    <span class="mr-2">80%</span>-->
  <!--                    <div>-->
  <!--                      <div class="progress">-->
  <!--                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  Instagram-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  3,678-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <div class="d-flex align-items-center">-->
  <!--                    <span class="mr-2">75%</span>-->
  <!--                    <div>-->
  <!--                      <div class="progress">-->
  <!--                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--              <tr>-->
  <!--                <th scope="row">-->
  <!--                  twitter-->
  <!--                </th>-->
  <!--                <td>-->
  <!--                  2,645-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <div class="d-flex align-items-center">-->
  <!--                    <span class="mr-2">30%</span>-->
  <!--                    <div>-->
  <!--                      <div class="progress">-->
  <!--                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--            </tbody>-->
  <!--          </table>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!-- End Demo Tables-->
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Recent Orders</h3>
            </div>
            <div class="col text-right">
              <a routerLink="/viewOrder" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Date</th>
              <th scope="col">User</th>
              <th scope="col">Branch</th>
              <th scope="col">Delivery Boy</th>
              <th scope="col">Amount</th>
              <th scope="col">Order Type</th>
              <th scope="col">Status</th>
              <th scope="col">Items</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of recentOrderData  |filter:filter |paginate: { itemsPerPage: 10, currentPage: p },let i=index">
              <td>
                <div class="media-body">
                  <span class="mb-0 text-sm">{{item.id}}</span>
                </div>
              </td>
              <td>{{item.date | date :'medium'}}</td>
              <td [tooltip]="item.user.details.mobile">
                {{item.user.first_name}}
              </td>
              <td>
                {{item.branch.name}}
              </td>
              <td>
                {{item.delivery_boy}}
              </td>
              <td>
                {{item.amount | currency:'INR':'symbol-narrow'}}
              </td>
              <td>
                {{item.order_type}}
              </td>
              <td>
                <div class="btn-group" dropdown>
                  <button id="button-basic" dropdownToggle type="button"
                          [class]="item.status.name=='cancelled' ? 'btn btn-sm btn-outline-warning dropdown-toggle'
                                :item.status.name=='pending' ? 'btn  btn-sm btn-outline-danger dropdown-toggle'
                                :item.status.name=='delivered' ? 'btn btn-sm btn-outline-success dropdown-toggle'
                                :item.status.name=='shipped' ? 'btn btn-sm btn-outline-info dropdown-toggle'
                                :item.status.name=='confirmed' ? 'btn btn-sm btn-outline-primary dropdown-toggle'
                                :item.status.name=='declained' ? 'btn btn-sm btn-outline-warning dropdown-toggle' :''"
                          aria-controls="dropdown-basic">
                    {{item.status.name}} <span class="caret"></span>
                  </button>
                  <div
                    *ngIf="item.status.name!='declained' &&  item.status.name!='delivered' && item.status.name!='cancelled'">
                    <ul style="cursor: pointer" id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li (click)="openStatusModel(Statustemplate, 2);" *ngIf="item.status.name!='confirmed'"
                          role="menuitem"><a
                        class="dropdown-item">Confirmed</a></li>
                      <li (click)="openStatusModel(Statustemplate, 3);" *ngIf="item.status.name!='declained'"
                          role="menuitem"><a
                        class="dropdown-item">Declined</a></li>
                      <li (click)="openStatusModel(Statustemplate, 4);" *ngIf="item.status.name!='shipped'"
                          role="menuitem"><a class="dropdown-item">Shipped</a>
                      </li>
                      <li (click)="openStatusModel(Statustemplate, 6);" *ngIf="item.status.name!='delivered'"
                          role="menuitem"><a
                        class="dropdown-item">delivered</a></li>
                      <li (click)="openStatusModel(Statustemplate, 1);" *ngIf="item.status.name!='pending'"
                          role="menuitem"><a class="dropdown-item">Pending</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <!--                      ************-->
                <!--Start Change Order status model-->
                <ng-template #Statustemplate>
                  <div class="modal-body text-center">
                    <p>Are you sure want to change order status ?</p>
                    <button type="button" class="btn btn-default" (click)="confirm(item.id)">
                      Yes
                    </button>
                    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                  </div>
                </ng-template>
                <!--End order status chage model-->
                <!--                      ******************-->

              </td>
              <td>
                <button (click)="openItemModel(itemTemplate)" class="btn btn-outline-danger btn-sm" type="button">
                        <span class="btn-inner--icon">
                        <i class="ni ni fa fa-eye"></i>
                      </span>
                  &nbsp;View
                </button>
                <!--                      variant modesl-->
                <ng-template #itemTemplate>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left text-black-50">Variants & Addons </h4>
                    <button (click)="itemModalRef.hide()" aria-label="Close" class="close pull-right"
                            type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                          <th scope="col">Sl no</th>
                          <th scope="col">Item</th>
                          <th scope="col">Variant</th>
                          <!--                    <th scope="col">Date</th>-->
                          <th scope="col">Unit</th>
                          <th scope="col">Qty</th>
                          <th scope="col">Price</th>
                          <th scope="col">Total</th>
                          <th scope="col">Addon Price</th>
                          <th scope="col">Net Amount</th>
                          <th scope="col">No.Addons</th>
                          <th scope="col">Addons</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr *ngFor="let Subitem of item.issued_varients;let i=index">
                          <td>
                            {{i + 1}}
                          </td>
                          <td>
                            {{Subitem.varient.name}}
                          </td>
                          <td>
                            {{Subitem.varient.item.name}}
                          </td>
                          <td>
                            {{Subitem.varient.unit.name}}
                          </td>
                          <td>
                            {{Subitem.qty}}
                          </td>
                          <td>
                            {{Subitem.rate | currency:'INR':'symbol-narrow'}}
                          </td>
                          <td>
                            {{Subitem.total | currency:'INR':'symbol-narrow'}}
                          </td>
                          <td>
                            {{Subitem.addons_price | currency:'INR':'symbol-narrow'}}
                          </td>
                          <td>
                            {{Subitem.net_amt | currency:'INR':'symbol-narrow'}}
                          </td>
                          <td>
                            {{Subitem.issued_Addons.length}}
                          </td>
                          <td>
                            <button [disabled]="Subitem.issued_Addons.length<=0"
                                    (click)="openAddonsModel(addonsTemplate)"
                                    class="btn btn-outline-danger btn-sm"
                                    type="button">
                        <span class="btn-inner--icon">
                        <i class="ni ni fa fa-eye"></i>
                        </span>
                              &nbsp;View
                            </button>
                            <!--                                  addons moddel-->
                            <ng-template #addonsTemplate>
                              <div class="modal-header">
                                <h4 class="modal-title pull-left text-black-50">Addons </h4>
                                <button (click)="addonsModalRef.hide()" aria-label="Close"
                                        class="close pull-right"
                                        type="button">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="table-responsive">
                                  <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                      <th scope="col">Sl no</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Category</th>
                                      <!--                    <th scope="col">Date</th>-->
                                      <th scope="col">Qty</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Tax</th>
                                      <th scope="col">Total</th>
                                      <th scope="col">Net Total</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr *ngFor="let addons of Subitem.issued_Addons;let in=index">
                                      <td>
                                        {{in + 1}}
                                      </td>
                                      <td>
                                        {{addons.addon.name}}
                                      </td>
                                      <td>
                                        {{addons.addon.category.name}}
                                      </td>
                                      <td>
                                        {{addons.qty}}
                                      </td>
                                      <td>
                                        {{addons.price | currency:'INR':'symbol-narrow'}}
                                      </td>
                                      <td>
                                        {{addons.tax | currency:'INR':'symbol-narrow'}}
                                      </td>
                                      <td>
                                        {{addons.total | currency:'INR':'symbol-narrow'}}
                                      </td>
                                      <td>
                                        {{addons.net_amt | currency:'INR':'symbol-narrow'}}
                                      </td>
                                    </tr>
                                    <tr *ngIf="Subitem.issued_Addons<=0">
                                      <td colspan="5"> No Data Found !</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button (click)="addonsModalRef.hide()" class="btn btn-danger" type="button">
                                  Close
                                </button>
                              </div>
                            </ng-template>
                            <!--                                  end addons model-->
                          </td>
                        </tr>
                        <tr *ngIf="item.issued_varients.length<=0">
                          <td colspan="5"> No Data Found !</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button (click)="itemModalRef.hide()" class="btn btn-danger" type="button">Close</button>
                  </div>
                </ng-template>
                <!--                      end variant model-->
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class=" dropdown-menu-right dropdown-menu-arrow" ngbDropdownMenu
                       style="cursor: pointer;">
                    <a class="dropdown-item">Edit</a>
                    <!--                          <a class="dropdown-item">Delete</a>-->
                    <ng-template #template>
                      <div class="modal-body text-center">
                        <p>Are you sure want to delete this order ?</p>
                        <button (click)="confirm(item.payload.doc.id)" class="btn btn-default" type="button">Yes
                        </button>
                        <button (click)="decline()" class="btn btn-primary" type="button">No</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="card-footer py-4 ">
            <div class="pagination justify-content-end mb-0">
              <!-- <pagination-controls (pageChange)="p = $event">
              </pagination-controls> -->
              <pagination-template #pT="paginationApi" (pageChange)="p = $event" *ngIf="recentOrderData">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item ">
                    <a (click)="pT.previous()" *ngIf="!pT.isFirstPage()" [class.disabled]="pT.isFirstPage()"
                       aria-label="Previous" class="page-link">
                      <span aria-hidden="true" class="fas fa-angle-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li *ngFor="let page of pT.pages" [class.active]="pT.getCurrent() === page.value"
                      class="page-item active">
                    <a (click)="pT.setCurrent(page.value)" class="page-link"> {{ page.label }}
                    </a>
                  </li>
                  <li class="page-item ">
                    <a (click)="pT.next()" *ngIf="!pT.isLastPage()" [class.disabled]="pT.isLastPage()"
                       aria-label="Previous" class="page-link">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                </ul>
              </pagination-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
